@tailwind base;
@tailwind components;
@tailwind utilities;
.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.25s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#db973c, #db973c);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

.link-active {
  background-size: 100% 3px;
  background-position: 0 100%;
}

.tooltip:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
